# What is Pipeline 
-ML pipeline is a means of automating the machine learning workflow by enabling 
data to be transformed and correlated into a model that can then be analyzed to achieve outputs
-A pipeline is a linear sequence of data preparation options, modeling operations, and prediction transform operations
-Pipeline class is a useful tool for encapsulating multiple different transformers alongside an estimator into one object,
so that you only have to call your important methods once ( fit() , predict() , etc)

# Why pipeline
the purpose of a pipeline is to allow you to increase the iteration cycle with the added confidence that codifying 
the process gives and to scale how many models you can realistically maintain in production

In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas_profiling as pp
from pandas_profiling import ProfileReport

In [3]:
import matplotlib.pyplot as plt 
#% matplotlib inline

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
#import sklearn.pipeline as pipeline

In [6]:
from sklearn.pipeline import Pipeline

# StandarScalar 
where mean = 0 and standard deviation = 1

In [7]:
from sklearn.preprocessing import StandardScaler

# ColumnTransformer
 it transformed the column according to datatype required in pipeline for example numerical data and categorical data in different different set.

In [8]:
from sklearn.compose import ColumnTransformer

# SimpleImputer 
 It is a scikit-learn class which is helpful in handling the missing data in the predictive model dataset. It replaces the NaN values with a specified placeholder... fill_value : The constant value to be given to the NaN data using the constant strategy

In [9]:
from sklearn.impute import SimpleImputer

# Label Encoding 
It is a popular encoding technique for handling categorical variables. 
In this technique, each label is assigned a unique integer based on alphabetical ordering.  
we used when we need something to compare range and in increasing or decreasing order

In [10]:
from sklearn.preprocessing import LabelEncoder

# one hot encoding 
it takes a column which has categorical data, which has been label encoded, and then splits the column into multiple columns.The numbers are replaced by 1s and 0s

In [11]:
from sklearn.preprocessing import OneHotEncoder

# Pickle 
process whereby a Python object hierarchy is converted into a byte stream
#embedded the data... when data size or model size is small we used pickle

In [12]:
import pickle

# Joblib
it is the replacement of pickle as it is more efficient on objects that carry large numpy arrays.
#These functions also accept file-like object instead of filenames used for large data size or large model

In [13]:
import joblib

In [14]:
import os

In [15]:
import sys
from io import StringIO

In [16]:
import warnings
warnings.filterwarnings("ignore")

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score,roc_auc_score,classification_report
from sklearn.metrics import f1_score

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
df = pd.read_csv("C:/Jasbir/Learning/train_and_test2.csv",index_col=False)

In [20]:
df.head(5)

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [21]:
df.describe()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.0,1309.0,1309.0,1309.0,1309.0,...,1309.0,1309.0,1309.0,1309.000000,1309.0,1309.0,1307.000000,1309.0,1309.0,1309.000000
mean,655.000000,29.503186,33.281086,0.355997,0.498854,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.294882,0.0,0.0,1.492731,0.0,0.0,0.261268
std,378.020061,12.905241,51.741500,0.478997,1.041658,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.837836,0.0,0.0,0.814626,0.0,0.0,0.439494
min,1.000000,0.170000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.0,0.0,0.000000
25%,328.000000,22.000000,7.895800,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.000000,0.0,0.0,1.000000,0.0,0.0,0.000000
50%,655.000000,28.000000,14.454200,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,0.000000
75%,982.000000,35.000000,31.275000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,1.000000
max,1309.000000,80.000000,512.329200,1.000000,8.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,1.000000

# Profile report

In [22]:
# report = pp.ProfileReport(df)
# profile.to_file("output.html")
# profile = ProfileReport(df)
# profile

In [23]:
df.drop(["zero","zero.1","zero.2","zero.3","zero.4","zero.5","zero.6","zero.7","zero.8","zero.9","zero.10","zero.11","zero.12","zero.13","zero.14","zero.15","zero.16","zero.17","zero.18"],inplace=True,axis=1)

In [24]:
df

,Passengerid,Age,Fare,Sex,sibsp,Parch,Pclass,Embarked,2urvived
0,1,22.0,7.2500,0,1,0,3,2.0,0
1,2,38.0,71.2833,1,1,0,1,0.0,1
2,3,26.0,7.9250,1,0,0,3,2.0,1
3,4,35.0,53.1000,1,1,0,1,2.0,1
4,5,35.0,8.0500,0,0,0,3,2.0,0
...,...,...,...,...,...,...,...,...,...
1304,1305,28.0,8.0500,0,0,0,3,2.0,0
1305,1306,39.0,108.9000,1,0,0,1,0.0,0
1306,1307,38.5,7.2500,0,0,0,3,2.0,0
1307,1308,28.0,8.0500,0,0,0,3,2.0,0
1308,1309,28.0,22.3583,0,1,1,3,0.0,0

In [25]:
boxplot=df.boxplot(figsize=(10,10),grid=False, rot=45, fontsize=15)  
boxplot.plot()
plt.show()

In [26]:
plt.show()

In [27]:
df.columns

Index(['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'Parch', 'Pclass',
       'Embarked', '2urvived'],
      dtype='object')

In [28]:
y = df['2urvived']
df.drop(['2urvived'],inplace=True,axis=1)

In [29]:
y

0       0
1       1
2       1
3       1
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: 2urvived, Length: 1309, dtype: int64

In [30]:
df

      Passengerid   Age      Fare  Sex  sibsp  Parch  Pclass  Embarked
0               1  22.0    7.2500    0      1      0       3       2.0
1               2  38.0   71.2833    1      1      0       1       0.0
2               3  26.0    7.9250    1      0      0       3       2.0
3               4  35.0   53.1000    1      1      0       1       2.0
4               5  35.0    8.0500    0      0      0       3       2.0
...           ...   ...       ...  ...    ...    ...     ...       ...
1304         1305  28.0    8.0500    0      0      0       3       2.0
1305         1306  39.0  108.9000    1      0      0       1       0.0
1306         1307  38.5    7.2500    0      0      0       3       2.0
1307         1308  28.0    8.0500    0      0      0       3       2.0
1308         1309  28.0   22.3583    0      1      1       3       0.0

[1309 rows x 8 columns]

In [31]:
#boxplot = df.boxplot(column=['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'Parch', 'Pclass','Embarked', '2urvived'],figsize=(5,5) )

In [32]:
df.describe()

,Passengerid,Age,Fare,Sex,sibsp,Parch,Pclass,Embarked
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1307.000000
mean,655.000000,29.503186,33.281086,0.355997,0.498854,0.385027,2.294882,1.492731
std,378.020061,12.905241,51.741500,0.478997,1.041658,0.865560,0.837836,0.814626
min,1.000000,0.170000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,328.000000,22.000000,7.895800,0.000000,0.000000,0.000000,2.000000,1.000000
50%,655.000000,28.000000,14.454200,0.000000,0.000000,0.000000,3.000000,2.000000
75%,982.000000,35.000000,31.275000,1.000000,1.000000,0.000000,3.000000,2.000000
max,1309.000000,80.000000,512.329200,1.000000,8.000000,9.000000,3.000000,2.000000

In [33]:
# def subset_by_iqr(df, column, whisker_width=1.5):
#     """Remove outliers from a dataframe by column, including optional 
#        whiskers, removing rows for which the column value are 
#        less than Q1-1.5IQR or greater than Q3+1.5IQR.
#     Args:
#         df (`:obj:pd.DataFrame`): A pandas dataframe to subset
#         column (str): Name of the column to calculate the subset from.
#         whisker_width (float): Optional, loosen the IQR filter by a
#                                factor of `whisker_width` * IQR.
#     Returns:
#         (`:obj:pd.DataFrame`): Filtered dataframe
#     """
#     # Calculate Q1, Q2 and IQR
#     q1 = df[column].quantile(0.25)                 
#     q3 = df[column].quantile(0.75)
#     iqr = q3 - q1
#     # Apply filter with respect to IQR, including optional whiskers
#     filter = (df[column] >= q1 - whisker_width*iqr) & (df[column] <= q3 + whisker_width*iqr)
#     return df.loc[filter]                                                     

# # Example for whiskers = 1.5, as requested by the OP
# df_filtered = subset_by_iqr(df, 'Fare', whisker_width=1.5)

In [34]:
# for col in data:
#         dta = data[col].dtype 
#         if dta == int or dta == float:
#             data[col]=data[col].clip(upper=(data[col].quantile(0.95)))
#             data[col]=data[col].clip(lower=(data[col].quantile(0.05)))

In [35]:
df.isna().count()

Passengerid    1309
Age            1309
Fare           1309
Sex            1309
sibsp          1309
Parch          1309
Pclass         1309
Embarked       1309
dtype: int64

# Creating Numerical feature

In [36]:
numeric_features = df.select_dtypes(include=['float64','int64'])
numeric_features_names = numeric_features.columns
numeric_features_names

Index(['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'Parch', 'Pclass',
       'Embarked'],
      dtype='object')

# Creating categorical feature

In [37]:
categorical_features = df.select_dtypes(include=['object'])
categorical_features_names = categorical_features.columns
categorical_features_names

Index([], dtype='object')

#  Fill the Numerical and categorical feature with imputer and scalar

In [38]:
numeric_transformer = Pipeline(steps=[
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',StandardScaler())
])

# Transforming the numerical and categorical feature

In [39]:
preprocessor = ColumnTransformer(
transformers=[
   ('numeric',numeric_transformer,numeric_features_names)
])

# Split the data

In [40]:
 X_train, X_test, y_train, y_test = train_test_split(df, y, test_size = 0.2, random_state = 45,stratify = y)

# Apply algorithum

In [41]:
clf= RandomForestClassifier(n_estimators=30,max_depth=1, random_state=0)

# Pipeline the model with preprocess and classifer

In [42]:
model_pipeline = Pipeline(steps= [
    ('preprocess', preprocessor),
    ('classifer',clf)
])

# Fit the pipeline model

In [43]:
model_pipeline.fit(X_train,y_train)

Pipeline(steps=[('preprocess',
                 ColumnTransformer(transformers=[('numeric',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  Index(['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'Parch', 'Pclass',
       'Embarked'],
      dtype='object'))])),
                ('classifer',
                 RandomForestClassifier(max_depth=1, n_estimators=30,
                                        random_state=0))])

# Predict and save the model

In [44]:
joblib.dump(model_pipeline, "model.joblib")
y_pred=model_pipeline.predict(X_test)
print(roc_auc_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

0.5
              precision    recall  f1-score   support

           0       0.74      1.00      0.85       194
           1       0.00      0.00      0.00        68

    accuracy                           0.74       262
   macro avg       0.37      0.50      0.43       262
weighted avg       0.55      0.74      0.63       262

[[194   0]
 [ 68   0]]